<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Reddit Clone</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <h1>Welcome to reddit</h1><h6>clone</h6>
    <section class="submit-link">
      <form action="/add-link" method="post">
        <div>
          <label for="url">URL</label>
          <input type="text" name="url" value="">
        </div>
        <div>
          <label for="title">Title</label>
          <input type="text" name="title" value="">
        </div>
        <button>Submit</button>
      </form>
    </section>
    <main>
      <!-- {{#each data}} -->
        <div class="link">
        <form class="" action="/upvote/{{id}}" method="post">
          <button>U</button>
        </form>
        <span class="votes">{{votes}}</span>
        <form class="" action="/downvote/{{id}}" method="post">
          <a href="/downvote/{{id}}">D</a>
        </form>
        <span class="title"><a href="{{url}}">{{title}}</a></span>
        </div>

      <!-- {{/each}} -->


    </main>
  </body>
</html>
